[Unit]
Description=OpenRGB server.

[Service]
User=root
WorkingDirectory=/opt/rgb-controller/
ExecStart=/usr/bin/openrgb --server
Restart=on-failure

[Install]
WantedBy=default.target
